html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #232323;
}

.logo {
  background-image: url('./assets/logo-netflix.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 30px;
}

.Layout--blur {
  filter: blur(2px) brightness(20%);
  position: fixed;
  width: 100%;
}

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    margin-top: 2vh;
    margin-left: 4vw;
  }

  &__banner {
    width: 90vw;
    align-self: center;
    object-fit: contain;
  }
}
