.PopupEdit {
  &-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
  }
  position: relative;
  margin: 100px auto;
  padding: 50px;
  width: 500px;
  height: 770px;
  background: #232323;
  display: flex;
  flex-direction: column;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;

  &__close-btn {
    background: url('../../../assets/icons/close-sign.svg') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    outline: none;
  }

  &__form {
    margin-top: 20px;
  }

  &__label {
    color: #f65261;
    display: block;
  }

  &__input {
    display: block;
    background-color: #424242;
    border: none;
    border-radius: 5px;
    width: 98%;
    height: 40px;
    margin: 15px 0 20px;
    outline: none;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 2%;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }

  &__reset-btn {
    border: 1px solid #f65261;
    background: transparent;
    color: #f65261;
    cursor: pointer;
    border-radius: 5px;
    min-width: 130px;
    height: 42px;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
  }

  &__save-btn {
    border: none;
    background: #f65261;
    color: #ccc;
    cursor: pointer;
    border-radius: 5px;
    min-width: 130px;
    height: 42px;
    font-size: 16px;
    outline: none;
  }
}
